USE [BookingDb]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 3/10/2026 2:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[TimeSlotId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](250) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 3/10/2026 2:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Specialty] [nvarchar](100) NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 3/10/2026 2:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[SlotDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/10/2026 2:35:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [UserId], [DoctorId], [TimeSlotId], [Status], [Notes], [CreatedAt]) VALUES (1, 1, 1, 1, N'Approved', N'Consolt', CAST(N'2026-03-10T12:15:28.1793004' AS DateTime2))
INSERT [dbo].[Appointments] ([Id], [UserId], [DoctorId], [TimeSlotId], [Status], [Notes], [CreatedAt]) VALUES (2, 6, 1, 3, N'Pending', N'Need general checkup', CAST(N'2026-03-10T14:01:26.2786158' AS DateTime2))
INSERT [dbo].[Appointments] ([Id], [UserId], [DoctorId], [TimeSlotId], [Status], [Notes], [CreatedAt]) VALUES (3, 1, 1, 4, N'Approved', N'Follow-up visit', CAST(N'2026-03-10T14:01:26.2786158' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([Id], [Name], [Specialty], [UserId]) VALUES (1, N'Dr.Ahmed', N'General', 2)
INSERT [dbo].[Doctors] ([Id], [Name], [Specialty], [UserId]) VALUES (2, N'Dr.Sara', N'Dermatology', 4)
INSERT [dbo].[Doctors] ([Id], [Name], [Specialty], [UserId]) VALUES (3, N'Dr.Khalid', N'Cardiology', 5)
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlots] ON 

INSERT [dbo].[TimeSlots] ([Id], [DoctorId], [SlotDate], [StartTime], [EndTime], [IsAvailable]) VALUES (1, 1, CAST(N'2026-03-11' AS Date), CAST(N'09:00:00' AS Time), CAST(N'09:30:00' AS Time), 0)
INSERT [dbo].[TimeSlots] ([Id], [DoctorId], [SlotDate], [StartTime], [EndTime], [IsAvailable]) VALUES (2, 1, CAST(N'2026-03-11' AS Date), CAST(N'10:00:00' AS Time), CAST(N'10:30:00' AS Time), 1)
INSERT [dbo].[TimeSlots] ([Id], [DoctorId], [SlotDate], [StartTime], [EndTime], [IsAvailable]) VALUES (3, 1, CAST(N'2026-03-12' AS Date), CAST(N'09:00:00' AS Time), CAST(N'09:30:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[TimeSlots] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (1, N'faisal', N'1234', N'User')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (2, N'ahmed', N'1234', N'Doctor')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (3, N'admin', N'1234', N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Doctors__1788CC4D59F0F99E]    Script Date: 3/10/2026 2:35:34 PM ******/
ALTER TABLE [dbo].[Doctors] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4CBD756CE]    Script Date: 3/10/2026 2:35:34 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TimeSlots] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[TimeSlots] ([Id])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TimeSlots]  WITH CHECK ADD FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
GO
